@import "../../Constants.scss";

.formContainer {
  width: 90%;
  color: $Black;
  padding-bottom: 30px;

  .form {
    width: 100%;

    .title {
      margin-top: 10px;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: baseline;
    }

    .address {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: baseline;
    }

    & .contacts {
      display: flex;
      align-items: baseline;
      flex-direction: column;
      width: 100%;

      & label {
        display: flex;
        align-items: baseline;
        width: 100%;

        & p {
          text-align: left;
          width: 220px;
        }
      }
    }

    .description {

      & label {
        display: flex;
        align-items: baseline;
        flex-direction: column;
        width: 100%;

      }
    }

    .price, .photos {
      margin-top: 10px;
      display: flex;
      align-items: baseline;
      flex-direction: column;
      width: 100%;
    }

    .price input {
      width: 20%;
    }
    .photos img{
      margin-top: 10px;
      border:1px solid $Black;
      width: 200px;
      height: 200px;
    }
  }
}
